@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&family=Space+Grotesk&display=swap");

:root {
  --main-bakcground-colour: rgb(0, 0, 0);
  --navbar-colour: rgb(225, 214, 214);
}

body {
  background: var(--main-bakcground-colour);
  padding: 0;
  margin: 20px;
  color: var(--navbar-colour);
}


.logo {
  width: 260px;
}


nav ul li {
  display: inline-block;
  list-style: none;
  margin: 25px 25px;
}

li a {
  text-decoration: none;
  color: var(--navbar-colour) !important;
  font-size: 26px;
  font-family: "Courier New", Courier, monospace;
}
.navbar-toggler-icon {
  background-color: var(--navbar-colour);
}
.nav-item {
  color: var(--navbar-colour) !important;
}

a:hover {
  color: #0e7474 !important;
}

.card {
  background-color: var(--navbar-colour) !important;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
  color: black;
}
h1 {
  font-family: "Source Code Pro", monospace;
  margin-top: 70px;
  padding-left: 50px;
  font-size: 40px;
  font-weight: bold;
}
h2{
  font-family: 'Courier New', Courier, monospace;
}

